<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Iniciar Sesión | Club Colombiano de Juntas Directivas{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <p class="mt-2">¿No tienes una cuenta? <a href="{% url 'signup' %}">Registrarse</a></p>
    </div>
</div>
{% endblock %}
